@import '../settings/colors';
@import '../settings/fonts';

.nav {
  .link {
    font-family: $font-base;
    font-size: 18px;
    letter-spacing: 0;
    color: $font-base-color;
    text-decoration: none;
    padding-left: 55px;
  }
}
